@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 3rem 9%;
}

.heading {
    background: url(../images/heading-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.heading h3 {
    font-size: 3.5rem;
    color: #302851;
}

.heading p {
    font-size: 1.6rem;
    color: #666;
    padding-top: .5rem;
}

.heading p a {
    padding-right: .5rem;
    color: crimson;
}

.heading p a:hover {
    color: #224bcf
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 9%;
    background: #224bcf;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
}

.header .logo i {
    color: crimson;
}

.header .navbar ul {
    list-style: none;
}

.header .navbar ul li {
    position: relative;
    float: left;
}

.header .navbar ul li:hover ul {
    display: block;
}

.header .navbar ul li a {
    padding: 2rem;
    display: block;
    font-size: 1.7rem;
    color: #fff;
}

.header .navbar ul li a:hover {
    border-radius: 10px;
    background: crimson;
}

.header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 20rem;
    background: #224bcf;
    display: none;
}

.header .navbar ul li ul li {
    width: 100%;
}

#menu-btn {
    cursor: pointer;
    color: #fff;
    font-size: 2.5rem;
    display: none;
}

.home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.home .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.home .image img {
    width: 100%;
}

.home .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.home .content h3 {
    color: #302851;
    font-size: 5rem;
}

.home .content p {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2.5;
}

.category {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.category .box {
    border-radius: 20px;
    background: #f5f5f5;
    padding: 4rem 3rem;
    text-align: center;
}

.category .box img {
    height: 7rem;
    margin-bottom: 2rem;
}

.category .box h3 {
    font-size: 1.7rem;
    color: #302851;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.about .content h3 {
    color: #302851;
    font-size: 4.5rem;
}

.about .content p {
    font-size: 1.4rem;
    padding: 1rem 0;
    color: #666;
    line-height: 2.5;
}

.blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
}

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background: #224bcf;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 1rem;
    margin-top: 1rem;
}
.contact-page{
    position: sticky;
    width: 100%;
    height: 100vh;
    background: plum; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-item{
    width: 100%;
    height: 550px;
    max-width: 820px;
    background: yellow;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 1000;
}
.contact-us{
    background: #f5f5f5;
}
.form{
    background: plum;
}
.text{
    color: plum;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 35px;
    font-weight: 600;
}
.contactus-image{
    height: 250x;
    width: 400px;
    margin-top: 90px;
}
.social-media{
    display: flex;
    list-style: none;
}
i {
    background: plum;
    padding: 5px;
    border-radius: 5px;
    transition: .3s;
    color: #fff;
}
li{
    padding-left: 15px;
    margin-top: 10px;
    font-size: 25px;
}
.social-media i:hover{
    background: #fff;
    color: plum;

}
.text-second{
    font-size: 15px;
    padding-left: 15px;
    font-weight: 600;
    color: plum;
}
.third-text{
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 20px;
    padding-top: 10px;
    color: #fff;
}
form{
    padding: 0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;   
}
.input-box{
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;
}
.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 16px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: .3s;
}
.input-box .input:focus ~ label,
.input-box .input:valid ~ label{
    top: -1px;
    left: 10px;
    font-size: 500;
    background: plum;
}
textarea.input{
    resize: none;
    min-height: 150px;
    overflow: auto;
}
.buttn{
    position: relative;
    top: 100px;
    background: #fff;
    color: plum;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 25%;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}
@media(max-width:480px){
    .contact-item{
        grid-template-columns: 1fr;
    }
    .contact-us{
        display: none;
    }
    .text{
        font-size: 40px;
        text-align: center;
    }
    .buttn{
        height: 30px;
        width: 15%;
        font-size: 12px;
    }
}
