@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-transform: capitalize; */
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 3rem 9%;
}

.heading {
    background: url(../images/heading-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.heading h3 {
    font-size: 3.5rem;
    color: #302851;
}

.heading p {
    font-size: 1.6rem;
    color: #666;
    padding-top: .5rem;
}

.heading p a {
    padding-right: .5rem;
    color: crimson;
}

.heading p a:hover {
    color: #224bcf
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 9%;
    background: #224bcf;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
}

.header .logo i {
    color: crimson;
}

.header .navbar ul {
    list-style: none;
}

.header .navbar ul li {
    position: relative;
    float: left;
}

.header .navbar ul li:hover ul {
    display: block;
}

.header .navbar ul li a {
    padding: 2rem;
    display: block;
    font-size: 1.7rem;
    color: #fff;
}

.header .navbar ul li a:hover {
    border-radius: 10px;
    background: crimson;
}

.header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 20rem;
    background: #224bcf;
    display: none;
}

.header .navbar ul li ul li {
    width: 100%;
}

#menu-btn {
    cursor: pointer;
    color: #fff;
    font-size: 2.5rem;
    display: none;
}

.home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.home .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.home .image img {
    width: 100%;
}

.home .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.home .content h3 {
    color: #302851;
    font-size: 5rem;
}

.home .content p {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2.5;
}

.category {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.category .box {
    border-radius: 20px;
    background: #f5f5f5;
    padding: 4rem 3rem;
    text-align: center;
}

.category .box img {
    height: 7rem;
    margin-bottom: 2rem;
}

.category .box h3 {
    font-size: 1.7rem;
    color: #302851;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.about .content h3 {
    color: #302851;
    font-size: 4.5rem;
}

.about .content p {
    font-size: 1.4rem;
    padding: 1rem 0;
    color: #666;
    line-height: 2.5;
}

.blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: #224bcf;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.contact-page{
    position: sticky;
    width: 100%;
    height: 100vh;
    background: plum; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-item{
    width: 100%;
    height: 550px;
    max-width: 820px;
    background: yellow;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 1000;
}
.contact-us{
    background: #f5f5f5;
}
.form{
    background: plum;
}
.text{
    color: plum;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 35px;
    font-weight: 600;
}
.contactus-image{
    height: 250x;
    width: 400px;
    margin-top: 90px;
}
.social-media{
    display: flex;
    list-style: none;
}
i {
    background: plum;
    padding: 5px;
    border-radius: 5px;
    transition: .3s;
    color: #fff;
}
li{
    padding-left: 15px;
    margin-top: 10px;
    font-size: 25px;
}
.social-media i:hover{
    background: #fff;
    color: plum;

}
.text-second{
    font-size: 15px;
    padding-left: 15px;
    font-weight: 600;
    color: plum;
}
.third-text{
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 20px;
    padding-top: 10px;
    color: #fff;
}
form{
    padding: 0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;   
}
.input-box{
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;
}
.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 16px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: .3s;
}
.input-box .input:focus ~ label,
.input-box .input:valid ~ label{
    top: -1px;
    left: 10px;
    font-size: 500;
    background: plum;
}
textarea.input{
    resize: none;
    min-height: 150px;
    overflow: auto;
}
.buttn{
    position: relative;
    top: 100px;
    background: #fff;
    color: plum;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 25%;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}
@media(max-width:480px){
    .contact-item{
        grid-template-columns: 1fr;
    }
    .contact-us{
        display: none;
    }
    .text{
        font-size: 40px;
        text-align: center;
    }
    .buttn{
        height: 30px;
        width: 15%;
        font-size: 12px;
    }



/* -------------------------Blog Page---------------------- */


/* --------------left section------------- */
.container {
    display: flex;
    /* border: 2px solid black; */
}

.left {
    /* border: 2px solid red; */
    width: 15rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    top: -84rem;

}

.left .category {
    /* border: 2px solid blue; */
    width: 21rem;
}

.left .category .categoryTitle {
    font-size: 2rem;
}

.left .category ul li {
    font-size: 14px;
    margin: 3px 0px;
}

.left .category ul li a {
    color: black;
}



.right {
    /* border: 2px solid yellow; */
    width: 15rem;
}

/* ---------------blog main Section---------- */



.blogContainer {
    /* border: 2px solid green; */
    border-left: 2px solid rgb(219, 219, 219);
    border-right: 2px solid rgb(219, 219, 219);
    width: 89rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px;
}

.blogContainer .post {
    width: 87rem;
    padding: 10px;
    margin: 11px 0px;
    box-shadow: 0px 0px 10px -7px black;
    border-radius: 6px;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.post .postTitle {
    font-size: 20px;
    background: #0a1b5349;
    height: 19rem;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postTitle img {
    width: 47rem;
    height: 19rem;
}

.post {
    font-size: 14px;
}

.readMore #readMoreBtn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background: #224bcf;
    color: white;
    cursor: pointer;
}

.readMore #readMoreBtn:hover {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background: #1c41b9;
    color: white;
    cursor: pointer;
}

#readMoreBtn a {
    color: white;
}


/* ---------------------posts------------- */
.head img {

    width: 113rem;
    height: 35rem;
}

.content {
    font-size: 16px;
    text-align: justify;
    padding: 8px;
}

.title {
    font-size: 34px;
    text-transform: lowercase;
}

.post1 {
    padding: 5px 9px;
    width: 115rem;
    margin: auto;
    box-shadow: 0px 0px 9px -1px black;
    border-radius: 8px;
}


/* ---------footer----------- */

footer {
    background: #1c41b9;
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footerContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 46rem;
}
.F_content{
    font-size: 15px;
    text-align: justify;
}
.socialIcons i{
    margin: 4px 5px;
    font-size: 20px;
    cursor: pointer;
}

.blocks{
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    text-align: center;
}
.awards{
    display: inline;
    /* border: 2px solid black; */
}
.teachers{
    display: inline;
    /* border: 2px solid black; */
}
.curriculum{
    display: inline;
    /* border: 2px solid black; */
}
.block_image{
    display: inline;
    float: left;
    gap: 1rem;
}
section.Blogs{
    font-size: 1.25rem;
    text-align: center;
}
.blog{
    float: left;
    width: 50%;
    padding: 10px;
    /* border: 2px solid black; */
}
.Our_Blogs:after{ /*doubt css */
    content: "";
    display: table;
    clear: both;
}
footer{
    background-color: #224bcf;
    color: white;
    /* padding: 20px; */
    text-align: center;
    display: flex;
    font-size: 1.6rem;
}
ul.footer_list{
    list-style-type: none;
    /* color: white;
    background-color: #224bcf; */
}
.left{
    float: left;
    width: 33%;
    padding: 20px; 
}
.contact_us{
    padding-top: 10px;
}
.center{
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    padding: 20px;
}
.right{
    float: right;
    width: 34%;
    padding: 20px;
}
.subscribe{
    padding-top: 10px;
}
.category{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}
.Computer_Science_And_Engineering{
    text-align: center;
}
.Computer_Science_And_Engineering:hover{
    background-color: #11ee83;
}
.Mechanical_Engineering{
    text-align: center;
}
.Mechanical_Engineering:hover{
    background-color: #11ee83;
}
.Electrical_Engineering{
    text-align: center;
}
.Electrical_Engineering:hover{
    background-color: #11ee83;
}
.Electronics_And_Communication_Engineering{
    text-align: center;
}
.Electronics_And_Communication_Engineering:hover{
    background-color: #11ee83;
}
.Information_Technology{
    text-align: center;
}
.Information_Technology:hover{
    background-color: #11ee83;
}
div.awards:hover{
    background-color: #6a4dd5;
}
div.teachers:hover{
    background-color: #6a4dd5;
}
div.curriculum:hover{
    background-color: #6a4dd5;
}
.btn:hover{
    background-color: red;
}
.blog1:hover{
    background-color: #6a4dd5;
}
.blog2:hover{
    background-color: #6a4dd5;
}
.blog3:hover{
    background-color: #6a4dd5;
}
.blog4:hover{
    background-color: #6a4dd5;
}
.blog5:hover{
    background-color: #6a4dd5;
}
.blog6:hover{
    background-color: #6a4dd5;
}
.Our_Courses_Heading{
    font-size: 1.3rem;

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #7c72c8);		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7c72c8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #4d448f;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(90deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 80%;
	color: #2f2c6a;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #706adc;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}
