@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 3rem 9%;
}

.heading {
    background: url(../images/heading-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.heading h3 {
    font-size: 3.5rem;
    color: #302851;
}

.heading p {
    font-size: 1.6rem;
    color: #666;
    padding-top: .5rem;
}

.heading p a {
    padding-right: .5rem;
    color: crimson;
}

.heading p a:hover {
    color: #224bcf
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 9%;
    background: #224bcf;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
}

.header .logo i {
    color: crimson;
}

.header .navbar ul {
    list-style: none;
}

.header .navbar ul li {
    position: relative;
    float: left;
}

.header .navbar ul li:hover ul {
    display: block;
}

.header .navbar ul li a {
    padding: 2rem;
    display: block;
    font-size: 1.7rem;
    color: #fff;
}

.header .navbar ul li a:hover {
    border-radius: 10px;
    background: crimson;
}

.header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 20rem;
    background: #224bcf;
    display: none;
}

.header .navbar ul li ul li {
    width: 100%;
}

#menu-btn {
    cursor: pointer;
    color: #fff;
    font-size: 2.5rem;
    display: none;
}

.home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.home .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.home .image img {
    width: 100%;
}

.home .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.home .content h3 {
    color: #302851;
    font-size: 5rem;
}

.home .content p {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2.5;
}

.category {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.category .box {
    border-radius: 20px;
    background: #f5f5f5;
    padding: 4rem 3rem;
    text-align: center;
}

.category .box img {
    height: 7rem;
    margin-bottom: 2rem;
}

.category .box h3 {
    font-size: 1.7rem;
    color: #302851;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.about .content h3 {
    color: #302851;
    font-size: 4.5rem;
}

.about .content p {
    font-size: 1.4rem;
    padding: 1rem 0;
    color: #666;
    line-height: 2.5;
}

.blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1.5rem;
}

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background: #224bcf;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 1rem;
    margin-top: 1rem;
}
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #7c72c8);		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7c72c8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #4d448f;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(90deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 80%;
	color: #2f2c6a;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #706adc;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}